@font-face {
	font-family: "LetsGoDigital";
	src: url("../fonts/LetsGoDigital.ttf") format("opentype");
}
@font-face {
	font-family: "Furore";
	src: url("../fonts/Furore.otf") format("opentype");
}   
@font-face {
	font-family: "Cantarell-Regular";
	src: url("../fonts/Cantarell-Regular.ttf") format("opentype");
} 
@font-face {
	font-family: "Cantarell-Bold";
	src: url("../fonts/Cantarell-Bold.ttf") format("opentype");
} 