@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cantarell';
    src: url('assets/fonts/Cantarell.ttf') format('opentype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: normal;
    src: url('assets/fonts/Gilroy-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    src: url('assets/fonts/Gilroy-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'DigitalBread';
    src: url('assets/fonts/Digital-Bread.ttf') format('opentype');
}

@font-face {
    font-family: 'Furore';
    src: url('assets/fonts/Furore.otf') format('opentype');
}
