@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ani-fade-in {
        animation-name: fadeIn;
        animation-duration: 0.6s;
        animation-fill-mode: both;
    }
}

@font-face {
    font-family: 'Cantarell';
    src: url('assets/fonts/Cantarell.ttf') format('opentype');
}

@font-face {
    font-family: 'LetsGoDigital';
    src: url('assets/fonts/LetsGoDigital.ttf') format('opentype');
}

@font-face {
    font-family: 'Furore';
    src: url('assets/fonts/Furore.otf') format('opentype');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
